<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


  </head>

  <body>

        <div class = "header">
          <h1>Cocktail Gee</h1>
        </div>
        <div class = "headbut">
          <%= link_to "Add your cocktail", new_cocktail_path, class: "btn btn-success center" %>
        </div>
      <%= yield %>




    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
